@import "colors.scss";

%property-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
%property-two {
  display: flex;
  flex-direction: row;
}
.navbar--container {
  height: 70px;
  width: 100%;
  background-color: $lime;
  @extend %property-two;
  &--left {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: $lime;
    &--logo {
      margin: 0px 10px;
      background-color: $lime;
      @extend %property-one;
      &:hover {
        transform: scale(1.25);
      }
    }
    &--brandName {
      font-size: 1.3rem;

      &--link {
        font-weight: 700;
        color: $darkOrange;
        background-color: $lime;
      }
    }
  }

  &--middle {
    width: 60%;
    background-color: white;
    @extend %property-two;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: $lime;
    &--one {
      width: 20%;
      cursor: pointer;
      font-size: 1.1rem;
      @extend %property-one;
      background-color: $darkGrey;
    }
    &--two {
      width: 75%;
    }
    &--three {
      width: 5%;
      font-size: 1rem;
      @extend %property-one;
      background-color: $darkOrange;
    }
  }

  &--right {
    width: 25%;
    font-size: 1.1rem;
    @extend %property-two;
    align-items: center;
    cursor: pointer;
    background-color: $lime;
    &--one {
      width: 40%;
      overflow: hidden;
      background-color: $lime;
    }
    &--two {
      width: 40%;
      background-color: $lime;
    }
    &--three {
      width: 20%;
      background-color: $lime;
      &--left {
        margin-left: 15px;
        background-color: $lime;
      }
      &--right {
        background-color: $lime;
        &--link {
          background-color: $lime;
        }
      }
    }
  }
}
