@import "colors.scss";
%property-three {
  display: flex;
  position: absolute;
  top: 250px;
  opacity: 0.2;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.slider--container {
  height: 60vh;
  display: flex;
  &--left {
    @extend %property-three;
    left: 10px;
  }

  &--right {
    @extend %property-three;
    right: 10px;
  }
}
